html {
    width: 267px;
    height: 600px;
}
body {
    color: white;
    overflow-y: hidden;
    padding: 5px;
}
.no-overflow {
    overflow: hidden;
}
.username {
    font-weight: bold;
    width: calc(100% - 10px);
    display: inline-block;
    white-space: nowrap;
}
.message {
    display: inline-block;
    float: right;
    white-space: nowrap;
}
.command-title {
    font-size: 18px;
    display: inline-block;
}
.command {
    display: inline-block;
    font-weight: bold;
}
.chat-frame {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid;
}
.action-vote {
    padding: 10px;
}
.movement-vote {
    padding: 10px;
}
.command-invalid {
    color: #ff7070;
}
.command-valid {
    color: lightgreen;
}
.vote-list .count {
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    margin-right: 10px;
}
.vote-list .command {
    display: inline-block;
    white-space: nowrap;
}
.vote-list-container {
    margin-left: 20px;
}
